.welcome {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.welcome > h1 {
    align-self: center;
}

.sprites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.login, .framed.contains-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8em;
}

.msg{
    display: block;
    position: absolute;
    bottom: 0;

}

input, form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }



@media screen and (max-width: 1192px) {
    input {
       
        width:100%;
        margin: 1em
    }
    form {
        
        flex-direction: column-reverse;
        
    }

    #login {
        margin-top: 2em;
    }

    .login, .framed.contains-code { 
        padding-bottom:13em;
        font-size: 50px
    }
    .login {
        margin-top:2em
    }
 }
