/* Box Model Hack */
*{
    box-sizing: border-box;
  }

  p {
    color: red;
  }


#userPokemonChoice { 
  display:flex;
  flex-direction: column;
}

#form {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}