/* Box Model Hack */
*{
    box-sizing: border-box;
  }

body {
  height: 100vh;
}

p {
  color: red;
  margin-bottom: 5%;
}


#userPokemonChoice { 
  display:flex;
  flex-direction: column;
}

#form {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}