<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Time to Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<section class = "pokemon-choice-buttons">
            <p>Now, which Pokemon do you want? The three available Pokemon are Bulbasaur, Charmander, and Squirtle.</p>


            <form class = "userinput" method ="POST" action="/battle">
                <button type = "submit" name = "userPokemonChoice" value="bulbasaur">Bulbasaur</button>
                <button type = "submit" name = "userPokemonChoice" value="charmander">Charmander</button>
                <button type = "submit" name = "userPokemonChoice" value="squirtle">Squirtle</button>
                
            </form>

            <p>{{ userChoice }}</p>
            <p>{{ pokemonHp }}</p>
            <p>{{ pokemonMoves }}</p>

        </section>

		<script type="text/javascript" src="../js/battle.js"></script>
	</body>
</html>