<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Time to Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<section class = "pokemon-choice-buttons">
            <p>Now, which Pokemon do you want? The three available Pokemon are Bulbasaur, Charmander, and Squirtle.</p>
            <button>Bulbasaur</button>
            <button>Charmander</button>
            <button>Squirtle</button>

        </section>

		<script type="text/javascript" src="../js/battle.js"></script>
	</body>
</html>