<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Pokemon Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href= "/static/css/css-pokemon-gameboy.css">
		<link rel="stylesheet" href= "../static/css/css-pokemon-gameboy.css">
		<link rel="stylesheet" href= "/static/css/index.css">
		<link rel="stylesheet" href= "../static/css/index.css">
	</head>
	<body>
		<div class="welcome">
			<h1>Get ready to battle!</h1>
			<section class="sprites">
				<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/1.png">
				<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/4.png">
				<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/yellow/7.png">
			</section>
			<p>Inspired by Pokemon Red & Blue, this is a basic text-based game where you can choose one of the original starter pokemon, and then battle to collect other Gen I pokemon.</p>
			<p>Note: type advantage is not at play here but may be in a future version...</p>
		</div>
		<div class="register">
			<p>Please create an account to play. You can then save any pokemon you catch to your party!</p>
			
			<form action="{{ url_for('register') }}" method="post" autocomplete="off" class="framed contains-code">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				
				<button type="submit" value="Register">Register</button>
				<div class="msg">{{ msg }}</div>
			</form>

			<section class="login">
				<p>Already got an account?</p>
				<div class="links">
					<button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';">Login</button>
				</div>
			</section>
		</div>


		<script type="text/javascript" src="/static/js/main.js"></script>
	</body>
</html>
