<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Pokemon Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href= "/static/css/css-pokemon-gameboy.css">
		<link rel="stylesheet" href= "/static/css/index.css">
	</head>
	<body>

		<form action="{{ url_for('login') }}" method="post" class="framed contains-code">
			<label for="username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<div class="msg">{{ msg }}</div>
			<button type="submit" value="Login">
		</form>




		<script type="text/javascript" src="/static/js/main.js"></script>
	</body>
</html>
