<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Pokemon Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/profile.css">
		<link rel="stylesheet" href="../css/css-pokemon-gameboy.css">
	</head>
	<body>
		<div id="overlay" onclick="off()">
			<div id="text"></div>
		</div>
		<section id = "welcome">
			{% block content %}
			<p>Welcome back, {{ username }}!</p>
			{% endblock %}
		</section>

		<section id = "party">
			<form id= "viewParty" method="POST" action="/profile/party"> 
                <button name = "viewParty" value="viewParty" id = "viewPartyButton">View Your Party</button>
			</form>			
			<div class ="framed contains-code" id = "usersPartyPokemon">	
			</div>
		</section>
		<section id = "links">
			<a href="{{ url_for('battle_page') }}" id = "firstBattleLink">Battle</a>
			<a href="{{ url_for('main_battle_page') }}" id = "mainBattleLink">Battle</a>
		</section>
		<script type="text/javascript" src="../js/profile.js"></script>
	</body>
</html>
