<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="pokemon game">
    	<meta name="keywords" content="pokemon, game, text-based, battle">

		<title>Pokemon Battle!</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<section id = "welcome">
			{% block title %}Home{% endblock %}

			{% block content %}
			<h1>Profile Page</h1>
			<p>Welcome back, {{ username }}!</p>
			{% endblock %}
		</section>

		<section id = "party">
			<h2>Your Party</h2>
			<form id= "viewParty" method="POST" action="/profile"> 
                <button name = "viewParty" value="viewParty" id = "viewPartyButton">View Your Party</button>
			</form>
			
			
			<div class = "pokemon" id = "usersPartyPokemon">
				
			</div>

		</section>

        <div class="links">
            <a href="{{ url_for('battle_page') }}">Battle</a>
        </div>


        <div class="msg">{{ msg }}</div>
		<script type="text/javascript" src="../js/profile.js"></script>
	</body>
</html>
